

nav{
    background-color: #ffffff;
    box-shadow: 2px 7px 13px -7px rgba(145,142,145,1);
    width: 100% !important;
}

nav li{
    padding: 20px;
    font-size: 13pt;
}

#conteudo{
    display: flex;
    margin-top: 50px;
}

#table{
    margin: auto;
    width: 1200px;
    max-width: 1400px;
}

#table tr{
    vertical-align: middle;
    text-align: center;
    font-size: 12pt;
}

#table  #msg{
    text-align: left;
}

#table #nome{
   width: 300px !important;
   text-align: left;
}

#modalExemplo .modal-header{
    border-bottom: 0px !important;
    text-align: center !important;
}

#modalExemplo button {
    background-color: #FFFFFF;
    border: 0px;
}

#modalExemplo button i{
    background-color: rgb(255, 255, 255);
    color: red;
    border: 0px;
    font-size: 25px;
}

#modalExemplo button i:hover{
    color: rgb(197, 11, 11);
}


#modal-lyceum{
    width: 1000px;
}

.home{
    display: block;
}
.container-integracoes{
    margin-top: 40px;
    display: block;
}

.container-integracoes button{
    border-radius: 30px;
}

#card-lyceum{
    border-left: 2px solid #1E90FF;
}

#card-abaris{
    border-left: 2px solid #32CD32;
}





/* Define a animação de carregamento */
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Adiciona a animação de carregamento à classe .loading */
.loading{
    background-color: #FBB635;
}
.loading::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-top-color: #000;
  animation: loading 1s ease-in-out infinite;
  margin: auto;
  margin-top: -20px;
  margin-left: -5px
}

/* Define a posição do ícone de carregamento */
button.loading {
  position: relative;
}

button.loading .loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}