
nav{
    background-color: #ffffff;
    box-shadow: 2px 7px 13px -7px rgba(145,142,145,1);
    width: 100% !important;
}

nav li{
    padding: 20px;
    font-size: 13pt;
   
}

nav li:hover{
    background-color: aliceblue;
}

.active{
    border-bottom: 2px solid #0d6efd;
}

#conteudo{
    display: flex;
    margin-top: 50px;
}

#table{
    margin: auto;
    width: 1200px;
    max-width: 1400px;
}

#table tr{
    vertical-align: middle;
    text-align: center;
    font-size: 12pt;
}

#table  #msg{
    text-align: left;
}

#table #nome{
   width: 300px !important;
   text-align: left;
}


#modalExemplo .modal-header{
    border-bottom: 0px !important;
    text-align: center !important;
}

#modalExemplo button {
    background-color: #FFFFFF;
    border: 0px;
}

#modalExemplo button i{
    background-color: rgb(255, 255, 255);
    color: red;
    border: 0px;
    font-size: 25px;
}

#modalExemplo button i:hover{
    color: rgb(197, 11, 11);
}


#modal-lyceum{
    width: 1000px;
}

.home, .listagem{
    display: block;
}
.container-integracoes{
    margin-top: 70px;
    display: block;
}

.container-integracoes button{
    border-radius: 30px;
}

#card-lyceum{
    border-left: 5px solid #417ec0;
}

#card-abaris{
    border-left: 5px solid #00989A;
}

#icon-ativa{
    color: #3CB371;
}

#icon-off{
    color: #B22222;
}


#msg{
    display: block;
    margin-top: 30px;
    padding: 10px;
    font-size: 18pt;
    text-align: center;
    width: 500px;
    border-radius: 5px;
}
.div-success{
    background-color:  #1ac6e094;
}

.div-error{
    background-color: #B22222;
    color: #fff;
}


/* Define a animação de carregamento */
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Adiciona a animação de carregamento à classe .loading */

#loading-lyceum{
    width: 38px;
    height: 38px;
    padding: 6px 12px;
    background-color: #FBB635;
    border: 0px solid;
    padding: 25px 10px 6px 13px;
}

#loading-abaris{
    width: 38px;
    height: 38px;
    padding: 6px 12px;
    background-color: #FBB635;
    border: 0px solid;
    padding: 25px 10px 6px 13px;
}

.loading-abaris{
    width: 38px;
    height: 38px;
    padding: 6px 12px;
    background-color: #FBB635;
    border: 0px solid;
    padding: 25px 10px 6px 13px;
    border-radius: 20px;
}

.loading::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-top-color: #000;
  animation: loading 1.5s ease-in-out infinite;
  margin: auto;
  margin-top: -20px;
  margin-left: -5px
}

/* Define a posição do ícone de carregamento */
button.loading {
  position: initial;
}

button.loading .loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.card-abaris{
    color: #00989A;
    border: 0px solid;
    border-radius: 0px;
    border-left: 5px solid #00989A;;

}

.card-lyceum{
    color: #417ec0;
    border: 0px solid;
    border-radius: 0px;
    border-left: 5px solid #417ec0;
}

.card-titulo-info i{
    display: inline;
    font-size: 45px;
    margin-top: 10px;
}

.card-titulo-info .card-body{
    display: inline-flex;
}

.card-titulo-info .card-body div{
    margin-left: 10px;
}


.paginador{
    display: block;
}


.integracao-individual{
    margin-top: 40px;
    display: inline-block;
    width: 100%;
}

.integracao-individual div{
    max-width: 300px;
    display: inline-block;
}

.integracao-individual button{
    border-radius: 5px;
}

.listagem{
    margin-top: 30px;
}

.listagem table{
    margin-top: 60px;
}

.listagem h2{
    text-align: center;
}

#paginacao li{
    padding: 0px;
}

#paginacao{
    margin-top: 40px;
    box-shadow: none;
}



#pageMessages {
    position: fixed;
    top: 120px;
    right: 15px;
    width: 30%;
}
  
.alert {
position: relative;
}

.alert .close {
position: absolute;
top: 5px;
right: 5px;
font-size: 1em;
}

.alert .fa {
margin-right:.3em;
}

.removeDisplay{
display: none;
}


.barra-busca{
    text-align: center;
    margin-top: 20px;
}
.barra-busca input{
    width: 60%;
    display: inline;
    text-align: left;
}

